@model  Gerencial.Models.Categoria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-6">
        <div class="tile">
            <div class="tile-body">

                <div class="col-lg-12">
                    <h4 class="card-title">Alterar Categoria</h4>
                    @using (Html.BeginForm("Alterar", "Categoria", FormMethod.Post, new { @class = "form-valide" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, "Nome da Categoria", new { htmlAttributes = new { @class = "control-label" } })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", Value = @Model.Nome } })
                            @Html.ValidationMessageFor(model => model.Nome)
                        </div>
                        
                        <div class="tile-footer">
                            <button class="btn btn-primary" type="submit">Alterar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>