@model  Gerencial.Models.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    function confirmExclusao(ur) {
        swal({
            title: "Deseja Excluir?",
            text: "",
            type: "error",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Não",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                swal("Deletado!", "Categoria deletada com sucesso.", "success");
                url = ur
                window.location = url;
            } else {
                swal("Cancelado", "Não houve a exclusão :)", "error");
            }
        });
    }

</script>

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Gerenciar Categoria</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Categoria</li>
        <li class="breadcrumb-item active"><a href="#">Gerenciar</a></li>
    </ul>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="col-lg-6">
                    <h4 class="card-title">Cadastro de Categoria</h4>
                    @using (Html.BeginForm("Cadastrar", "Categoria", FormMethod.Post, new { @class = "form-valide" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, "Nome da Categoria", new { htmlAttributes = new { @class = "control-label" } })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome)
                        </div>
                        
                        <div class="tile-footer">
                            <button class="btn btn-primary" type="submit">Cadastrar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="tile">

            @{
                if (ViewBag.Msg != null)
                {
                    if (ViewBag.tipo == 1)
                    {
                        <div class="bs-component">
                            <div class="alert alert-dismissible alert-success">
                                <button class="close" type="button" data-dismiss="alert">×</button>@ViewBag.Msg
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bs-component">
                            <div class="alert alert-dismissible alert-danger">
                                <button class="close" type="button" data-dismiss="alert">×</button><strong>Atenção! </strong>@ViewBag.Msg
                            </div>
                        </div>
                    }
                }
            }

            <div class="tile-body">
                <div class="tile-title-w-btn">
                    <h4>Lista de Categoria</h4>
                </div>
                <br />
                <table class="table table-hover table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th width="15%">ID</th>
                            <th width="30%">Categoria</th>
                            <th width="10%" style="text-align:center !important;">Editar</th>
                            <th width="10%" style="text-align:center !important;">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MCategoria)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nome.ToUpper()</td>
                                <td style="text-align:center !important; vertical-align:middle !important;">
                                    <a href="@Url.Action("Alteracao", "Categoria", new { Id = Model.utl.CodificaId(item.Id) })">
                                        <i class="fa fa-pencil" style="font-size:large"></i>
                                    </a>
                                </td>
                                <td style="text-align:center !important; vertical-align:middle !important;">
                                    <a href="#" onclick="confirmExclusao('@Url.Action("Excluir", "Categoria", new { Id = Model.utl.CodificaId(item.Id) })');" id="confirmExclusao">
                                        <i class="fa fa-remove" style="font-size:large"></i>
                                    </a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>